# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/shade?retryWrites=true&w=majority

# Socket.io server
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001

# Pexels API (optional - word images)
PEXELS_API_KEY=

# JWT Secret — Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=
